.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    background: #151518;
    border: 5px solid #FF8A00;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
    color: white;
  }
  
  .modalContent hr {
    background: #FF8A00;
    height: 1px;
    border: none;
    margin: 10px 0;
  }
  
  .modalContent h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .modalContent h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
  }
  
  .helpFinalDetails {
    text-align: center;
  }
  