.feedbackRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 10px 0;
    border: 1px dashed #ddd;
  }
  
  .feedbackCell {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-left: 1px solid #FF8A00;
    border-right: 1px solid #FF8A00;
  }
  
  .feedbackCell:first-child {
    border-left: none;
  }
  
  .feedbackCell:last-child {
    border-right: none;
  }
